body {
    font-family: 'Arial', sans-serif;
    background: url('/images/lemon_gif.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: rgb(66, 53, 5);
}

h1 {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#categories-list {
    list-style: none;
    padding: 0;
}

#categories-list li {
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    overflow: hidden; 
}

#categories-list li a {
    display: block; 
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    padding: 10px; 
    border-radius: 20px; 
    color: #665807;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#categories-list li a:hover {
    color: #ffce00;
    background: rgba(255, 255, 224, 0.8); 
}


.back-to-home {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.back-to-home-btn {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #ffd700; 
    border: none;
    border-radius: 20px;
    color: rgb(116, 82, 9);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}

.back-to-home-btn:hover {
    background-color: #ffce00;
    transform: translateY(-2px);
}

.back-to-home-btn:focus {
    outline: none;
    border: 1px solid #ffce00;
}

@media (max-width: 600px) {
    body {
        justify-content: flex-start;
        padding-top: 40px;
    }

    h1 {
        text-align: center;
    }
}
