body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(255, 173, 96, 0.85), rgba(255, 126, 95, 0.85));
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#loading {
    display: none;
    width: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 204, 153, 0.8); /* Soft sunset peach */
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 1px solid rgba(255, 174, 123, 0.6); /* Slightly darker border */
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: calc(100% - 20px); /* Subtract padding */
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 218, 185, 0.3); /* Light sunset orange, translucent */
    border: 1px solid rgba(255, 174, 123, 0.6); /* Sunset peach */
    border-radius: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #FF6B6B; /* Sunset red */
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #FFD56B; /* Sunset yellow */
    transform: translateY(-2px);
}

input:focus, button:focus {
    outline: none;
    border: 1px solid #FF9276; /* Sunset orange */
}

@media (max-width: 600px) {
    form {
        width: 80%;
        padding: 20px;
    }
}
