body {
    font-family: 'Arial', sans-serif;
    background: url('/images/lemon_gif.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 0;
    color: rgb(115, 87, 9);
}

.card {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%; 
    max-width: 500px; 
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 224, 0.3); 
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 0, 0.6);
}

.correct {
    color: green;
}

@media (max-width: 600px) {
    div {
        width: 100%; 
    }
}
