* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(116, 82, 9);
}

body {
  font-family: "Arial", sans-serif;
  background: url("/images/lemon_gif.gif") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 30px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60vh;
  min-width: 50vw;

  gap: 20px;

}

#qcard {
  height: 100%;
  width: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

#img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
}

#options {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  all: unset;

  user-select: none;
  cursor: pointer;
}

.option {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 100%;

  display: grid;
  align-items: center;
  justify-items: center;

  font-size: 1.8em;
  font-weight: 700;

  text-overflow: clip;
}

.correct {
  background-color: green;
  color: rgb(236, 171, 30);
}

.incorrect {
  background-color: red;
  color: rgb(226, 170, 48);
}

#controls {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

#prev, #next, #score {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
}