<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Quiz</title>
</head>
<body>
    <label for="Subject">Subject</label>
    <input type="text" name="Subject" id="subject">
    <br>

    <label for="Number of questions">Number of questions</label>
    <input type="number" name="Number of questions" id="num_ques">
    <br>

    <label for="Notes">Notes</label>
    <input type="file" name="Notes" id="notes">
    <br>

    <button type="button" id="submit">Submit</button>

    <script src="/scripts/generateQuiz.js"></script>
</body>
</html>
