<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Quiz</title>
    <link rel="stylesheet" href="/style/generateQuiz.css">

</head>
<body>
    <form>
        <h4>Create new quiz</h4>
        <input type="text" placeholder="Category" id="category">
        <input type="text" placeholder="Title" id="title">
        <input type="number" placeholder="Number of questions" id="num_ques">
        <!-- <input type="file" id="notes"> -->
        <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif" alt="" srcset="" id="loading">
        <button type="submit" id="submit">Submit</button>
        <br>
        <br>
        <button type="button" id="see-categories">Explore Past Quizzes</button>
    </form>

    <script src="/scripts/generateQuiz.js"></script>
    <script>
        // When the "See Other Categories" button is clicked
        document.getElementById('see-categories').addEventListener('click', function() {
            window.location.href = '/quizzes'; // Redirect to the categories page
        });
    </script>
</body>
</html>
