<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Quiz</title>
    <link rel="stylesheet" href="/style/generateQuiz.css">

</head>
<body>
    <form>
        <input type="text" placeholder="Subject" id="subject">
        <input type="number" placeholder="Number of questions" id="num_ques">
        <input type="file" id="notes">
        <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif" alt="" srcset="" id="loading">
        <button type="submit" id="submit">Submit</button>
    </form>

    <script src="/scripts/generateQuiz.js"></script>
</body>
</html>
