<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Cards</title>

    <link rel="stylesheet" href="/style/questionStack.css" />
  </head>

  <body>
    <!-- <% if (questions) { %> -->
    <script>
      var server_questions = `<%- JSON.stringify(questions) %>`;
    </script>
    <!-- <% } %> -->
    <div id="container">
      <div id="qcard">
        <img src="" alt="" srcset="" id="img" />

        <div id="title"></div>
      </div>

      <div id="options">
        <button id="o0" class="option"></button>
        <button id="o1" class="option"></button>
        <button id="o2" class="option"></button>
        <button id="o3" class="option"></button>
      </div>
    </div>

    <div id="controls">
      <button id="prev">Prev</button>
      <span id="score">0 / 0</span>
      <button id="next">Next</button>
    </div>

    <script src="/scripts/questionStack.js"></script>
  </body>
</html>
