<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="/style/questions.css">
</head>
<body>
    <h1>Questions for Uh</h1>
    <% questions.forEach(function(question) { %>
        <div>
            <h2><%= question.question_text %></h2>
            <ul>
                <% question.options.forEach(function(option) { %>
                    <li class="<%= option.is_correct ? 'correct' : '' %>"><%= option.option_text %></li>
                <% }); %>
            </ul>
        </div>
    <% }); %>

    <script src="/scripts/questions.js"></script>
</body>
</html>
