<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/style/quizzes.css">
</head>
<body>
    <h1>Quizzes</h1>
    <ul id="quizzes-list">
        <% quizzes.forEach(function(category) { %>
            <h2><%= category.category.name %></h2>
            <% category.quizzes.forEach(function(quiz) { %>
                <a href="/quizzes/<%= quiz._id %>"><%= quiz.title %></a></div>
         <%   }); %>
        <% }); %>
    </ul>
</body>
</html>
