<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>

    <link rel="stylesheet" href="/style/signin.css">
</head>
<body>
    <h1 id="login_banner">Sign in</h1>
    <form action="/login/password" method="post">
        <section>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section>
            <label for="current-password">Password</label>
            <input id="current-password" name="password" type="password" autocomplete="current-password" required>
        </section>
        <button type="submit">Sign in</button>
    </form> 

    <div class="back-to-home">
        <a href="/" class="back-to-home-btn">Back to Home</a>
    </div>
    
</body>
</html>