<footer class="fixed-bottom footer-expand-sm"
    style="background-color: #191923; color: #fbfef9; border-top: 1px solid #fbfef9;padding-top: 10px; margin-top: 100px; display: flexbox;">
    <div class="text-end">
        <a href="mailto:gurtejmalik@gmail.com">
            <img src="/img/mail-icon.png" alt="Email" style="height: 40px;width: 40px;" />
        </a>
        <a href="https://github.com/simrat39/cs_proj_ai.git">
            <img src="/img/git.png" alt="GitHub" style="height: 40px;width: 40px;" />
        </a>
    </div>
</footer>
</body>
</html>